/* TAGS */

* {
	margin: 0;
	padding: 0;
}

body {
	/* background: url('../images/bg.jpg'); */
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	margin-top: 2vh;
	font-family: 'Press Start 2P', cursive;
	font-size: 5vh;	
	color: burlywood;
	text-shadow: 2px 2px 5px black;
}

html {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

span {
	color: ghostwhite;
}

/* CLASSES */

.arrow {
	padding-left: 5px;
}

.body {
	align-items: center;
	justify-content: center;
}

.btn {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 2vh;
	display: inline-block;
	margin:5px;
	font-weight: bold;
	padding: 10px 10px 10px 10px ;
	background-color: lightgray;
	text-shadow: -1px -1px black, 1px 1px white;
	color: gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 1vh gray; 
	cursor: pointer;
}

.btn:active {
	box-shadow: none;
	position: relative;
	top: 1vh;
}

.control {
	width: 50vw;
	min-width: fit-content;
	margin: 0 auto 4vh;
	justify-content: space-between;
}

.control>.item1 {
	flex-direction: column;
	justify-self: start;
}

.control>.item2 {
	align-self: center;
	margin: 0 10vw;
}

.control>.item3 {
	align-self: center;
	justify-self: end;
}

.flex {
	display: flex;
}

.food {
	margin: 0px;
	background: linear-gradient(135deg, rgba(255,255,255,0.6), rgba(255,0,0,1));
	border-radius: 45%;
	border: 0.25vmin solid black;
}

.head {
	margin: 0vmin;
	/* background-color: brown; */
	background: linear-gradient(135deg, rgba(255,255,255,0.5), rgb(2, 160, 2));
	border-radius: 15%;
	border: 0.25vmin solid black;
}

.heading {
	text-align: center;
}

.tail {
	margin: 0.1vmin;
	/* background-color: darkslategrey; */
	background: linear-gradient(160deg, rgba(0,255,0,0.4), rgba(255,255,0,0.5));
	border-radius: 30%;
	border: 0.1vmin solid black;
}

/* IDs */

#audioControl {
	position: fixed;
	top: 8vh;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 3vh;
	display: inline-block;
	margin:5px;
	font-weight: bold;
	padding: 10px 10px 10px 10px ;
	background-color: dimgray;
	/* text-shadow: -1px -1px black, 1px 1px white; */
	text-shadow: 1px 1px 3px black;
	color: gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 1vh gray; 
	cursor: pointer;
}

#audioControl:active {
	top: 9vh;
	box-shadow: none;
}

#board {
	/* background: url('../images/grass.jpg'); */
	margin: 2vh;
	width: 72vmin;
	height: 72vmin;
	border: 3px solid burlywood;
	display: grid;
	/* grid-template-rows: repeat(24, 1fr);
	grid-template-columns: repeat(24, 1fr); */
}

#board-bg {
	background: url('../images/grass.jpg');
	filter: blur(3px);
	margin: 2vh;
	width: 72vmin;
	height: 72vmin;
	position: absolute;
	z-index: -1;
}

#down>div {
	transform: rotate(180deg);
}

#grid {
	height: 7.2vh;
	position: fixed;
	top: 8vh;
	left: 8vh;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 2.5vh;
	display: inline-block;
	margin:5px;
	font-weight: bold;
	padding: 10px 10px 10px 10px ;
	background-color: dimgray;
	/* text-shadow: -1px -1px black, 1px 1px white; */
	text-shadow: 1px 1px 3px black;
	color: lightgray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 1vh gray; 
	cursor: pointer;
}

#grid:active {
	top: 9vh;
	box-shadow: none;
}

#left>div {
	transform: rotate(270deg);
}

#right>div {
	transform: rotate(90deg);
}

#score {
	position: fixed;
	top: 19vh;
	font-family: 'Press Start 2P', cursive;
	font-size: 3vh;
	color: burlywood;
	text-shadow: 2px 2px 3px black;
}

#highScore {
	position: fixed;
	top: 23vh;
	font-family: 'Press Start 2P', cursive;
	font-size: 3vh;
	color: burlywood;
	text-shadow: 2px 2px 3px black;
}

#start {
	width: 15vh;
}